# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
*.coverage
.cache/

# VS Code
.vscode/
.venv/
# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Others
*.egg-info/
build/
dist/
*.egg
*.manifest
*.spec
*.lock

# Azure
*.azure/
